table {
  border-collapse: separate;
  border-spacing: 0 5px;
  text-align: left;
}
th {
  text-align: center;
  width: 250px;
  // font-size: 5px;
  // font-weight: normal;
  background-color: white;
}
td {
  background-color: #f8fafb;
}
