table {
  margin: auto;
  border-collapse: separate;
  border-spacing: 0 10px;
  text-align: left;
  width: 90%;
}
th {
  // font-size: 5px;
  // font-weight: normal;
  background-color: white;
}
td {
  height: 40px;
  background-color: #f8fafb;
}
