* {
    box-sizing: border-box;
}
.modalContainer {
    width: 600px;
    height: 300px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    font-size: 24px;
    font-weight: 700;
    padding: 10px;
}
.reasonForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    input {
        border: 1px solid black;
        border-radius: 5px;
        height: 30px;
        width: 300px;
        padding: 5px;
     &:focus {
        border: 2px solid #0046FF;
        border-radius: 5px;
        outline: none;
    }
    }

}

.buttonDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}