.accountInfo {
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 25px;
  }
  h3 {
    color: #9c9c9c;
    background-color: #9c9c9c00;
  }
  .container {
    width: 95%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8fafb;
    .consumptionBox,
    .savingBox {
      width: 90%;
      height: 40%;
      border: 2px solid #0046ff;
      background-color: #ffffff;
      border-radius: 10px;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      .leftBox {
        flex-grow: 1.5;
        height: 50px;
      }
      .rightBox {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 3;
      }
    }
    .consumptionBox {
      img {
        background-image: url('../assets/nong1.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 25px;
        height: 25px;
      }
    }

    .savingBox {
      .rightBox {
        img {
          background-image: url('../assets/nong1.png');
          background-repeat: no-repeat;
          background-size: cover;
          width: 25px;
          height: 25px;
          border: none;
        }
      }
    }
    .savingNum,
    .accountNum {
      width: 70%;
      font-size: 18px;
    }
  }
}
