.addAccount {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  h1 {
    font-size: 25px;
  }
  h3 {
    color: #9C9C9C;
    background-color: #9c9c9c00;
  }
  .addAccount_consumptionBox {
    width: 90%;
    height: 70%;
    border: 2px solid #0046FF;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    .addAccount_leftBox {
      flex-grow: 1.5;
      height: 50px;
    }
    .addAccount_rightBox {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 3;
      button {
        background-color: #9c9c9c00;
        border: none;
        font-size: 25px;
        color: #0046FF;
        font-weight: 800;
      }
    }
  }
}