.background {
    width: 75%;
    height: 100%;
    border-radius: 10px;
    background-color: #a1a1a1;
    display : flex;
    position:fixed;

	  justify-content: center;

	  align-items : center;
}
