.login{
    grid-column-start: 3;
    background-color: #BACBF8;
    border-radius: 5%;
    height: 70vh;
    width: 25vw;
    margin-top: 15vh;
    
    .loginTitle{
        margin-top: 4vh;
        text-align: center;
        font-size: 1.5vh;
        font-weight: bold;
    }

    .inputBox{
        margin-left: 3vw;
        font-size: 1.7vh;
    }
    .input{
        margin-top: 1vh;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-style: none;
        width: 38vh;
        height: 5vh;
        font-size: 1.7vh;
        border-radius: 1vw;
    }
    .btn-login{
        display: grid;
        justify-content: center;
        background-color: #1A44F5;
        margin-left: 3vw;
        width: 19vw;
        height: 5vh;
        line-height: 5vh;
        border-style: none;
        color:white;
        font-size: 2vh;
        border-radius: 1vw;
        &:hover{ 
        }
    }
    .links{
        display: flex;
        margin: 0 auto;
        justify-content: center;
        font-size: 20px;
        font-weight: bold;
    }
    a{
        &:hover{ 
        }
        text-decoration: none;
        color: black;
    }
}





