* {
    box-sizing: border-box;
    margin: 0;
}

.modalContainer {
    width: 500px;
    height: 200px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    font-size: 24px;
    font-weight: 700;
    padding: 10px;
    padding-top: 20px;
}
.pwCheckForm {
    display: flex;
    flex-direction: row;
    justify-content:space-around;

    input {
        outline: 1px solid black;
        border: none;
    
        &:focus {
            outline: #0046FF solid 3px;
            border: none;
    
        }
    }
    
}



.buttonDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}